.ui-share {
    height: 22px;
    line-height: 22px;
    .txt,
    .iyoyo {
        display: inline-block;
    }
    .txt {
        color: #5e5e5e;
        font-size: 14px;
        vertical-align: middle;
    }
    .iyoyo {
        width: 22px;
        height: 22px;
        line-height: 22px;
        display: inline-block;
        font-size: 22px;
        color: #999;
        margin-left: 5px;
    }
    .iyoyo-weixin {
        &:hover {
            color: #5ecb7f;
        }
    }
    .iyoyo-qzone {
        &:hover {
            color: #f6c743;
        }
    }
    .iyoyo-tsina {
        &:hover {
            color: #ec5c51;
        }
    }
}
