@charset "UTF-8";
@import "../../common/config/level-2";
@import "../../common/common";
@import "../../module/uc/common";
@import "../../module/mod-empty";
@import "../../common/pager/pager";
@import "../../module/course/course-list";
body {
    background-color: #eee;
    position: relative;
}

h1 {
    margin: 0;
    padding: 0;
}


// 讲师详情上的内容样式
.mod-lecturer {
    .w-1180 {
        width: 1180px;
        margin: 0 auto;
        .ifm-bottom-bar{
            margin:20px 0;
        }

        .mod-up {
            .title {
                margin: 42px 0 19px 0;
                font-size: 16px;
                em{

                    font-style:normal;
                    margin-right:2px;
                }
            }
            .mod-contain {
                padding: 32px 40px 30px 40px;
                background-color: #fff;
                .avatar {
                    float: left;
                    width: 255px;
                    height: 255px;
                    line-height:255px;
                    text-align:center;
                    overflow:hidden;
                    img {
                        max-width: 255px;
                        max-height:255px;
                        vertical-align:middle;
                    }
                }
                .info {
                    float: left;
                    padding: 9px 19px;
                    .teacher-name {
                        font-size: 30px;
                    }
                    .job {
                        font-size: 16px;
                        font-weight: bold;
                    }
                    .text {
                        margin-top: 15px;
                        width: 576px;
                        font-size: 14px;
                        color: #999999;
                    }
                    .btn {
                        margin-top: 15px;
                        background-color: #f00;
                        width: 128px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        a {
                            display: inline-block;
                            width: 128px;
                            color: #fff;
                            font-size: 16px;
                            border-radius: 10px;
                        }
                    }
                }
                .contain-right {
                    float: right;
                    display:none;
                    img {
                        width: 140px;
                        height: 140px;
                    }
                    .see {
                        font-size: 18px;
                    }
                }
            }
        }

        .mod-down {
            margin-top: 27px;
            .mod-tab {  
            	li{
            		float:left;
            		.w-a {
                    display: inline-block;
                    width: 151px;
                    height: 50px;
                    line-height: 51px;
                    text-align: center;
                    overflow: hidden;
                    font-size: 16px;
                    background: #fff;
                	}
            	}          	

                .tab1 {
                    float: left;
                }
                .tab2 {
                    float: left;
                    border-left: none;
                }
            }
            .tab-container{
                display: none;
                .main-container{
                    background-color:#fff;
                    padding: 41px 28px 41px 17px;
                   .tab2{
                        width: 1152px;
                        padding: 30px 15px 0;
                    }


                }
                padding-bottom:50px;
            }

            .course {               
                .contain-course {
                    float: left;
                    margin-left: 21px;
                    a {
                        .picture {
                            position: relative;
                            width: 259px;
                            height: 141px;
                            img {
                                width: 259px;
                                height: 141px;
                            }
                            span {
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                width: 46px;
                                height: 30px;
                                line-height: 30px;
                                text-align: center;
                                color: #fff;
                                background-color: #423424;
                                opacity: 0.5;
                            }
                        }
                        .course-name {
                            margin-top: 10px;
                            font-size: 18px;
                            font-weight: bold;
                            color: #f00；
                        }
                        .course-teacher {
                            margin-top: 10px;
                        }
                    }
                }
            }

            .teacher-info {
            	display: none;
                .info-t {
                    margin-top: 0;
                    color: #666666;
                    font-size: 18px;
                }
                p {
                    margin-top: 40px;
                    color: #666666;
                    font-size: 18px;
                }
            }

            .current{
            	display:block;
            	.t{
            		color:#f00;
            		border:1px solid #eee;
            		border-bottom:none;		
            	}
            }
        }

        .pager {
            float: right;
        }
    }
}
