@charset "UTF-8";
@import "../../common/config/level-2";
@import "../../common/common";
@import "../../module/mod-empty";
@import "../../common/pager/pager";
.mod-container {
    margin: 0 auto;
    width: $width;
}

.ui-hid {
    display: none;
}

.mod-course {
    position: relative;
    padding: 40px 0;
    background-color: #eef3f7;
    .mod-nav {
        position: relative;
        background-color: #fff;
        padding: 10px 30px;
        .common-nav {
            position: relative;
            top: -1px;
        }
        .ui-nav-border {
            border-bottom: 1px dashed #eef3f7;
        }
        .type {
            position: absolute;
            font-size: 16px;
            color: #999;
            line-height: 51px;
        }
    }
    .nav {
        margin-left: 80px;
        line-height: 50px;
        li {
            a {
                margin: 22px 15px 0 0;
                padding: 5px 10px;
                font-size: 16px;
                color: #44687d;
            }
        }
        .current a {
            background-color: #ff1c41;
            color: #fff;
            border-radius: 4px;
        }
    }
    .mod-learn {
        width: 100%;
        margin-top: 20px;
        font-size: 18px;
        color: #fff;
        background-color: #fff;
        .lists {
            width: 1152px;
            padding: 30px 30px 0;
            .list {
                width: 258px;
                height: 258px;
                img {
                    width: 258px;
                    height: 258px;
                }
                position: relative;
                margin:0 30px 30px 0;
                &:hover {
                    box-shadow: 0 0 20px #aaa;
                }
            }
            .description {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 63px;
                text-indent: 20px;
                z-index: 1;
                h3 {
                    margin: 0;
                    padding-top: 5px;
                    font-size: 18px;
                    font-weight: bold;
                    color: #333;
                    line-height: 25px;
                }
                span {
                    display: inline-block;
                    width: 100%;
                    font-size: 14px;
                    color: #333;
                }
            }
            .label {
                position: absolute;
                width: 96px;
                height: 37px;
                top: 0;
                right: 0;
                font-size: 16px;
                color: #333;
                text-align: center;
                line-height: 37px;
                background: #eee;
                opacity: 0.8;
            }
            .mask {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 63px;
                background: #eee;
                opacity: 0.8;
            }
        }
    }
    .mod-page {
        padding-top: 22px;
    }
}
