@charset "UTF-8";
@import "../common/config/level-1";
@import "../common/common";
body{
    width:500px;
    min-width: 500px;
}
html, body {
    background-color: #e4ebf0;
}

.mod-form {
    width: 500px;
    height: 510px;
    border: 1px solid #fff;
    background-color: #fff;
    .ulform {
        padding-top: 50px;
        width: 430px;
        .item {
            position: relative;
            height: 65px;
            .ui-input {
                position: absolute;
                right: 0;
                display: inline-block;
                padding: 0;
                width: 288px;
                height: 40px;
                text-indent: 16px;
                border: 1px solid #ccc;
                border-radius: 4px;
                &:focus{
                    border: 1px solid #aaa;
                }
                &.error{
                    border: 1px solid #eb3d48;
                }
            }
            .mark {
                position: absolute;
                right: 300px;
                line-height: 38px;
            }
            label.error{
                position: absolute;
                bottom: -8px;
                left: 145px;
                line-height: 40px;
                color: #eb3d48;
            }
            .necessary {
                margin-right: 5px;
                color: red;
            }
            .ui-btn {
                position: absolute;
                left: 180px;
                width: 128px;
                height: 40px;
                line-height: 40px;
                letter-spacing: 2px;
                font-size: 14px;
                /*px*/
            }
        }
    }
}
