@charset "UTF-8";
// 图片根目录、字体目录配置参数，轻放在顶部
@import "../common/config/level-1";
@import "../common/common";
@import "../common/slider/slider";
@import "../common/layer/default/layer";
@import "../plugins/location-select/location-select";
@import "../common/share/share";
body {
    background-color: #eee;
}

.addr-div {
    width: 370px;
    position: relative;
}
