@charset "UTF-8";
@import "../../common/config/level-2";
@import "../../common/common";
@import "../../module/uc/common";
@import "../../module/mod-empty";
// @import "../../module/uc/search-bar/search-bar";
@import "../../common/pager/pager";


.content {
    width: 840px;
    .item {
        width: 794px;
        margin: 0 auto;
        padding: 20px 0;
        border-top: 1px solid #e4ebf0;
        &.first{
            border: none;
        }
        .left-title {
            .up {
                position: relative;
                line-height: 30px;
                .name{
                    vertical-align:middle;
                    display: inline-block;
                    line-height: 20px;
                    font-size: 18px;
                }
                .job {
                    display: inline-block;
                    vertical-align:middle;
                    width: 150px;
                    font-size: 20px;
                    /*px*/
                }
                .iyoyo {
                    /* position: relative;
                    top: -6px; */
                    margin-left: 10px;
                    font-size: 20px;
                    color: #95aab8;
                    cursor: pointer;
                }
                .iyoyo-qq {
                    &:hover {
                        color: #3b97ec;
                    }
                }
                .iyoyo-talk{
                     &:hover {
                        color: #9ac043;
                    }
                }
                .yoqq, .yotalk{
                    display: none;
                    position: absolute;
                    top: 30px;
                    z-index: 99;
                    padding: 11px;
                    border: 1px solid #e4ebf0;
                    border-radius: 4px;
                    background-color: #fff;
                    text-align: center;
                    .code{
                        width: 76px;
                        height: 76px;
                    }
                }
                .yotalk{
                    width: 76px;
                    height: 76px;
                }
                .yoqq{
                    width: 76px;
                    left: 220px;
                }
                .yotalk{
                    left: 252px;
                }
                .iyo{
                    display: inline-block;
                    &:hover{
                        .yoqq{
                            display: block;

                        }
                        .yotalk{
                            display: block;
                        }
                    }
                }
            }
            .down {
                line-height: 30px;
                font-size: 14px;
                /*px*/
                .begin,
                .teacher,
                .people {
                    display: block;
                    float: left;
                    line-height: 30px;
                    margin-right: 10px;
                    color: #95aab8;
                }
                .date,
                .name,
                .number {
                    display: block;
                    float: left;
                    line-height: 30px;
                    margin-right: 26px;
                    color: #4b677b;
                }
                .name {
                    width: 50px;
                }
            }
        }
        .right-start-button {
            line-height: 60px;
            .over-time,
            .already {
                margin-right: 10px;
            }
            .over-time {
                color: #95aab8;
            }
            .already {
                .offline {
                    font-style: normal;
                    font-weight: bold;
                }
                .online {
                    font-style: normal;
                }
            }
            .ui-btn {
                width: 90px;
                height: 40px;
                line-height: 40px;
                font-size: 12px;
                &:hover{
                    color: #fff;
                }
            }
            .ui-btn-defulat{
                background-color: #d1d7dc;
                color: #fff;
                &.active{
                    background-color: #ff4545;
                }
            }
        }
    }
}
