@charset "UTF-8";
@import "../../common/config/level-2";
@import "../../common/common";
@import "../../module/uc/common";
@import "../../module/uc/search-bar/search-bar";
@import "../../module/mod-empty";
@import "../../common/pager/pager";
body {
    background-color: #eee;
}

.mod-page {
    .mod-contain {
        padding: 0 24px 20px 24px;
        .btn {
            .ui-btn {
                width: 96px;
                height: 31px;
                background: #f00;
                color: #fff;
                line-height: 31px;
                text-align: center;
                font-size: 14px;
                float: right;
                &.deleting {
                    background-color: #fff;
                    color: #f00;
                    border: 1px solid #f00;
                }
            }
        }
        .mod-item {
            &.deleting {
                .item {
                    .d-zone {
                        .load {
                            display: none;
                        }
                        .dele {
                            display: block;
                        }
                    }
                }
            }
            .item {
                padding: 25px 0 33px 0;
                border-bottom: 1px solid #eee;
                .picture {
                    width: 176px;
                    height: 105px;
                    overflow: hidden;
                    a{
                        display: inline-block;
                        width: 176px;
                        height: 105px;
                        line-height: 105px;
                        text-align: center;
                    }
                    img {
                        height:100%; 
                    }
                }
                .contain {
                    padding-left: 20px;
                    .title {
                        .hit {
                            display: inline-block;
                            width:500px; 
                            font-size: 16px;
                            font-weight: 700;
                        }
                    }
                    .contain-down {
                        margin-top: 15px;
                        .dis {
                            margin-top: 2px;
                            span {
                                color: #95aab8;
                            }
                            em {
                                font-style: normal;
                                margin-left: 10px;
                                color: #44687d;
                            }
                            strong {
                                margin-left: 8px;
                                font-weight: normal;
                                color: #44687d;
                            }
                        }
                    }
                }
                .d-zone {
                    .load {
                        display: block;
                        margin-top: 45px;
                        text-align: right;
                        .num {
                            color: #44687d;
                        }
                        .txt {
                            color: #aaaaaa;
                            .personnum {
                                font-style: normal;
                                margin-right: 4px;
                                color: #000;
                            }
                        }
                    }
                    .dele {
                        display: none;
                        margin-top: 45px;
                        cursor: pointer;
                        .iyoyo-del {
                            font-size: 26px;
                            color: #f00;
                        }
                    }
                }
            }
        }
    }
}
