@charset "UTF-8";
@import "../../common/config/level-2";
@import "../../common/common";
@import "../../module/uc/common";
@import "../../common/pager/pager";

.inline-block {
  display: inline-block;
}
.ifm-right-container {
  .mod-test-title {
    width: 188px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    color: #44687d;
    background: #fff;
  }
  .ifm-tab {
    position: relative;
    background: #fff;
    padding: 20px 30px 70px;
    .ifm-tab-hd {
      .ifm-tab-item {
        margin-right: -20px;
        &.active {
          a {
            height: 33px;
            line-height: 33px;
            color: #fff;
            background: #ff1c41;
            z-index: 2;
          }
        }
        a {
          position: relative;
          height: 33px;
          line-height: 33px;
          padding: 0 30px;
          border-radius: 20px;
          font-size: 14px;
          color: #4b677b;
          background: #e3ebf1;
        }
      }
    }
  }
  .ui-btn {
    width: 96px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    background: #ff1c41;
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 20px;
    right: 30px;
    &.deleting {
      background: #fff;
      color: #ff1c41;
      border: 1px solid #ff1c41;
    }
  }

  .mod-item {
    .exam-restart{
      margin-left:50px;
      font-size:14px;
      text-align:right;
      color:#44687d;
      .join-exam{
        margin-bottom:5px;
      }
    }
    .item {
      position: relative;
      border-bottom: 1px solid #eef3f7;
      padding: 30px 0;
      &.deleting {
        .has-join {
          display: none;
        }
        .ui-delete-btn {
          display: inline-block;
        }
      }
    }
    .picture {
      width: 150px;
      height: 80px;
      background: #fff;
      line-height: 80px;
      margin-right: 20px;
      img {
        width: 100%;
      }
    }
    .contain {
      .title {
        h3 {
          width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 16px;
          color: #1c2d36;
          font-weight: normal;
        }
      }
      .course-label {
        color: #44687d;
        font-size: 12px;
        border: 1px solid #44687d;
        padding: 0 4px;
        margin-left: 5px;
        margin-top: 3px;
      }
      .contain-down {
        font-size: 12px;
        margin-top: 15px;
        .study-time {
          margin-top: 5px;
        }
        span {
          color: #95aab8;
          margin-right: 40px;
        }
        em {
          color: #4b677b;
          margin-left: 12px;
          font-style:normal;
        }
      }
    }
    .mod-exam {
      text-align: right;
      font-size: 14px;
      .ui-delete-btn {
        position: absolute;
        display: none;
        color: #ff2f51;
        font-size: 20px;
        right: 25px;
        top: 50px;
      }
      p {
        color: #44687d;
        margin-top: 10px;
      }
      .mod-in-exam {
        .join-exam {
          width: 110px;
          height: 38px;
          line-height: 38px;
          text-align: center;
          border-radius: 3px;
          background: #ff1c41;
          display: inline-block;
          color: #fff;
        }
        p {
          line-height: 1;
        }
      }
      .mod-wait-exam {
        margin-top: 30px;
      }
      .has-join {
        text-align: center;
        &.mod-fail-exam {
          span {
            color: #ff1c41;
          }
        }
        p {
          width: 50px;
          span {
            font-size: 18px;
          }
          i {
            font-size: 14px;
            color: #44687d;
            font-style:normal;
            @extend .inline-block;
          }
        }
        h6{
          margin-left:20px;
        }
        .view-page {
          color: #44687d;
          font-size: 12px;
          display:inline-block;
          line-height:1;
          font-weight: normal;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .mod-pass-exam {
        p {
          color: #44687d;
        }
      }
    }
  }

}

.ui-pager {
  margin-top: 100px;
}

.ui-empty-list {
  padding: 100px 0;
}