@charset "UTF-8";
@import "../../common/config/level-2";
@import "../../common/common";
@import "../../module/uc/common";
@import "../../common/pager/pager";
.mod-news{
	padding: 0 33px;
	.item{
		padding: 20px 0;
        width: 806px;
        border-bottom: 1px solid #eef3f7;
        background-color: #fff;
		overflow: hidden;
		.details{
        	text-align: justify;
			font-size: 14px;
			color: #747a7f;
		}
		.control{
        	margin-top: 20px;
			font-size: 12px;
			.time{
				color: #999;
			}
		}
	}
}


