@charset "UTF-8";
@import "../../common/config/level-2";
@import "../../common/common";
@import "../../module/uc/common";
@import "../../module/mod-empty";
@import "../../common/pager/pager";
.ifm-top-bar{
	.control{
		.ready{
			display: inline-block;
			padding: 0 20px;
			line-height: 56px;
			color: #44687d;
			font-size: 14px;
			cursor: pointer;
		}
		.ui-btn{
			margin-top: 10px;
			width: 96px;
			height: 30px;
			line-height: 30px;
			font-size: 14px;
			cursor: pointer;
		}
	}
}
.mod-news{
	padding: 0 33px;
	.item{
		padding: 20px 0;
        width: 806px;
        border-bottom: 1px solid #eef3f7;
        background-color: #fff;
		overflow: hidden;
		&.active{
			.details{
				font-weight: 700;
			}
		}
		.details{
        	text-align: justify;
			font-size: 14px;
			color: #747a7f;
			a{
				font-weight: 700;
				color: #44687d;
			}
		}
		.control{
        	margin-top: 20px;
			font-size: 12px;
			.time{
				color: #999;
			}
			.iyoyo{
				padding: 0 10px;
				color: #999;
				cursor: pointer;
				&:hover{
					color: #f43c3c;
				}
			}
		}
	}
}


