@charset "UTF-8";
@import "../../common/config/level-2";
@import "../../common/common";
body {
    background-color: #e4ebf0;
}
.mod-note{
    .note-list{
        .item{
            padding: 20px 0;
            width: 806px;
            border-bottom: 1px solid #eef3f7;
            background-color: #fff;
            overflow: hidden;
            .title{
				font-size: 16px;
				.course-title{
					color: #999;
				}
				.topic{
					font-weight: 700;
					color: #1c2c36;
				}
            }
            .details{
            	max-height: 66px;
            	margin: 16px 0;
            	text-align: justify;
            	overflow: hidden;
				font-size: 14px;
				color: #1c2c36;
            }
            .control{
				font-size: 12px;
				color: #a9a9a9;
				.creat-time{
					.creat{
					}
					.time{
						margin-left: 10px;
					}
				}
				.edit{
					.iyoyo{
						font-size: 12px;
						cursor: pointer;
					}
					.iyoyo-heart, .iyoyo-del{
						color: #f43c3c;
					}
					.secret{
						cursor: pointer;
						.iyoyo-heart{
							font-size: 20px;
						}
					}
					.iyoyo-note{
						color: #5e7d8f;
						margin-left: 20px;
						margin-right: 10px;
					}
				}
            }
        }
    }
}



