@charset "UTF-8";
@import "../../common/config/level-2";
@import "../../common/common";
@import "../../module/uc/common";
@import "../../module/mod-empty";
// @import "../../module/uc/search-bar/search-bar";
@import "../../common/pager/pager";
.mod-note{
	padding: 0 33px;
    .note-list{
        .item{
            padding: 20px 0;
            width: 806px;
            border-top: 1px solid #eef3f7;
            background-color: #fff;
            &.first{
	            border: none;
	        }
            .title{
				font-size: 16px;
				.course-title{
					color: #999;
					vertical-align: middle;
				}
				.topic{
					display: inline-block;
					width: 120px;
					vertical-align: middle;
					font-weight: 700;
					color: #1c2c36;
					cursor: pointer;
					&:hover{
						color: #f43c3c;
					}
				}
            }
            .details{
            	display: block;
            	padding: 5px;
            	width: 780px;
            	margin: 16px 0;
            	min-height:50px;
            	word-wrap:break-word;
            	border:none;
            	resize:none;
				font-size: 14px;
            	text-align: justify;
				color: #1c2c36;
				overflow: hidden;
            	&.edittxt{
            		overflow-y: auto;
					border: 1px solid #ccc;
            		border-radius: 4px;
            	}
            }
            .control{
				font-size: 12px;
				color: #a9a9a9;
				.creat-time{
					.creat{
					}
					.time{
						margin-left: 10px;
					}
				}
				.edit{
					.iyoyo{
						font-size: 12px;
					}
					.iyoyo-key, .iyoyo-del{
						color: #f43c3c;
					}
					.secret{
						margin-right: 15px;
						.normal{
							font-style: normal;	
						}
					}
					.iyoyo-note{
						color: #5e7d8f;
						margin-left: 10px;
						margin-right: 10px;
						cursor: pointer;
					}
					.iyoyo-del{
						cursor: pointer;
					}
					.ui-btn{
						display: none;
						margin-right: 30px;
						width: 40px;
						height: 20px;
						line-height: 20px;
						font-size: 12px;
					}
				}
            }
        }
    }
}



