    @charset "UTF-8";
@import "../../common/config/level-2";
@import "../../common/common";
@import "../../module/uc/common";
@import "../../module/uc/search-bar/search-bar";
@import "../../plugins/location-select/location-select";
@import "../../common/pager/pager";
body {
    background-color: #eee;
}
#jAddrDiv{
    width:100px;
    height:30px;
    margin:20px 0 0 142px;
}
.mod-personinfo {
    .avater {
    	display: block;
    	margin: 30px 0 0 169px;
        position: relative;
        font-style: normal;
        .active,
        &:hover {
            .mask,
            .txt {
                display: block;
            }
        }
        .txt,
        .mask {
            display: none;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 80px;
            height: 80px;
            line-height: 80px;
            border-radius: 50%;
            text-align: center;
        }
        .img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
        .txt {
            font-size: 16px;
            color: #fff;
            z-index: 2;
        }
        .mask {
            background-color: #000;
            @include opacity(0.7);
            z-index: 1;
        }
    }
    .line {
        padding: 9px 50px;
        border: 1px solid #000;
        background-color: #f2f9ff;
        span {
            font-size: 14px;
            color: #000;
            em {
                font-style: normal;
                margin-right: 10px;
            }
            i {
                font-style: normal;
            }
        }
        .load {
            margin: 0 80px;
        }
    }
    .zpassword {
        input {
            width: 341px;
            height: 34px;
            line-height: 34px;
            margin: 20px 0 0 10px;
        }

        div {
            position:relative;
            margin-left:30px;
            label {
                text-align:right;
                display:inline-block;
                width:112px;
                height:30px;
                font-size: 16px;  
            }  
              label.error{
                position:absolute;
                text-align:left;
                width:200px;
                left:479px;
                top:24px;
                color:#f00;
            } 
        }
        
    }
    .info {
        // padding-right: 376px;
        input {
            width: 341px;
            height: 34px;
            line-height: 34px;
            margin: 20px 0 0 10px;
        }
        input.error{
            border:1px solid #f00;
        }
         .item{
            position:relative;
            margin-left:30px;
            span {
                color: #f00;
            }
            label {
                text-align:right;
                display:inline-block;
                width:100px;
                height:30px;
                font-size: 16px;
            }
            label.error{
                position:absolute;
                text-align:left;
                width:200px;
                left:463px;
                top:24px;
                color:#f00;
         } 
        }
        .inwhere{
            position:relative;
            .where{
                position:absolute;
                left:79px;
                font-size:16px;
            }
        }
        .check {
            width: 386px;
            height: 34px;
            font-size: 16px;
            margin-left:96px;
            input {
                width: 28px;
                height: 14px;
            }
            label{
                 width: 28px;
                height: 14px;
            }
        }
    }
    .btn {
        padding-left: 147px;
        margin-top: 20px;
        .ui-btn {
            width: 107px;
            height: 34px;
            background: #f00;
            line-height: 34px;
            font-size: 16px;
            color: #fff;
        }
        .rember {
            a {
                display: inline-block;
                margin-left: 5px;
                text-decoration: underline;
            }
        }
    }
}
