@charset "UTF-8";
@import "./right-container/right-container";
@import "./left-menu/left-menu";
.mod-page {
    background-color: #eef3f7;
    padding: 32px 0;
}

.ifm-uc {
    width: 1180px;
    margin: 0 auto;
}