@charset "UTF-8";
@import "../../common/config/level-2";
@import "../../common/_common";
@import "../../module/hp/_hp-left-menu";
.mod-right-content {
    width: 790px;
    font-size: 12px;
    line-height: 16px;
    color: #4b677b;
    background: #fff;
    padding: 0 40px;
    min-height: 600px;
    .content {
        padding-bottom: 20px;
    }
}
