@charset "UTF-8";
@import "../../common/config/level-2";
@import "../../common/_common";
@import "../../module/hp/_common";
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

i,
a,
b,
span {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
}

@mixin font-nom {
    font-weight: normal;
}

.mod-feedbk {
    .mod-title {
        font-size: 20px;
        color: #333;
    }
    .mod-wrap {
        position: relative;
        h3 {
            @include font-nom;
            font-size: 14px;
            color: #333;
            margin: 20px 0 7px;
            vertical-align: middle;
            .must {
                font-size: 20px;
                color: red;
                vertical-align: middle;
            }
            label {
                cursor: pointer;
            }
        }
        .img-upload{
            width: 100px;
            height: 100px;
            text-align: center;
            line-height: 100px;
            border-radius: 3px;
            display: inline-block;
            cursor:pointer;

        }
        .upload-btn {
           @extend .img-upload;
            span {
                font-size:28px;
                color:#ddd;
            }
        }
        .upload-list {
            @extend .img-upload;
            border: 1px solid #ccc;
            overflow: hidden;
            img{
                width:100px;
                height:auto;
                display:inline;
                vertical-align: middle;
            }
        }

        .ui-input {
            width: 420px;
            padding: 10px;
            display: inline-block;
            border-radius: 3px;
            font-size: 14px;
            &::-webkit-input-placeholder {
                font-size: 14px;
                color: #ccc;
            }
        }
        .ui-textarea {
            @extend .ui-input;
            height: 150px;
            resize: none;
            padding: 5px 10px;
        }
        input[type="file"] {
            position: absolute;
            clip: rect(0 0 0 0);
        }
        .img-responsive {
            width: 200px;
            height: 136px;
        }
        label {
            &.error {
                color: red;
                position: absolute;
                top: 50%;
                margin-top: 2px;
                font-size: 14px;
                left:462px;
            }
        }
    }
    .ui-btn-sub {
        margin-top: 30px;
        padding: 11px 47px;
        font-size: 16px;
        color: #fff;
        border-radius: 3px;
        background-color: #ff1c41;
        border: 1px solid #ff1c41;
        display: inline-block;
    }
}
