.ui-input{
	border:1px solid #e4ebf0;/*no*/
	padding: 10px 20px;
	color: #333;
    &:focus{
        border: 1px solid #4b677b;
    }
    &.error{
        border: 1px solid #ec3b45;
    }
}

.ui-input-error{
	border-color: #ec3b45;
}

.ui-input-focus{
	border-color: #4b677b;
}