
<!DOCTYPE html>
<html>

<head>
    <title>课程详情页</title>
    <!--#include file="./common/meta.html"-->
    <!--#include file="./common/css.html"-->
    <link rel="stylesheet" href="/css/conf/course/detail.css" type="text/css" charset="utf-8">
</head>

<body>
<!-- 我是注释 -->
<!--#include file="./common/header.html"-->
<div class="mod-detail">
    <div class="mod-container">
        <div class="mod-path">
            <span>首页</span>
            <span>&gt;</span>
            <span>课程中心</span>
            <span>&gt;</span>
            <span>ps的工具使用</span>
        </div>
        <div class="mod-content clearfix">
            <div class="f-l"><a href="" class="img"><img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="课程详情" class="jImg img-error"></a></div>
            <div class="content f-r">
                <h1 class="txt-overflow">ps基础工具使用</h1>
                <div class="mod-label">
                    <span>课时<span class="time">4.8</span></span><span class="line">|</span><span>报名人数<span class="num">27156</span></span>
                </div>
                <p>欲善其事必先利其器，没把好刀怎么杀猪，没个好套怎么**,欲善其事必先利其器，没把好刀怎么杀猪，没个好套怎么**欲善其事必先利其器，没把好刀怎么杀猪，没个好套怎么**欲善其事必先利其器，没把好刀怎么杀猪，没个好套怎么**欲善其事必先利其器，没把好刀怎么杀猪欲善其事必先利其器，没把好刀怎么杀猪，没个好套怎么**。</p>
                <a href="" class="study">立即学习</a>
                <!--<div class="mod-share clearfix">-->
                    <!--<a href="" class="collect f-l clearfix">-->
                        <!--<i class="icon iyoyo iyoyo-heart f-l"></i>-->
                        <!--<span class="f-l">课程收藏</span>-->
                    <!--</a>-->
                    <!--<span class="line f-l">|</span>-->
                    <!--<span class="share f-l clearfix">-->
                        <!--<span class="f-l">分享</span>-->
                        <!--<a href="" class="icon iyoyo iyoyo-weixin f-l"></a>-->
                        <!--<a href="" class="icon iyoyo iyoyo-qzone f-l"></a>-->
                        <!--<a href="" class="icon iyoyo iyoyo-weibo f-l"></a>-->
                    <!--</span>-->
                <!--</div>-->
            </div>
        </div>
        <div class="mod-wrap clearfix">
            <div class="mod-left f-l" id="jTab">
                <div class="mod-sub-nav clearfix" node-type="hd">
                    <a href="javascript:void(0);" node-type="hdItem" data-target="1" class="f-l current" data-value="0">目录</a>
                    <a href="javascript:void(0);" node-type="hdItem" data-target="2" class="f-l" data-value="1">评论</a>
                    <a href="javascript:void(0);" node-type="hdItem" data-target="3" class="f-l" data-value="2">问答</a>
                    <a href="javascript:void(0);" node-type="hdItem" data-target="4" class="f-l" data-value="3">笔记</a>
                </div>
                <div node-type="bd">
                    <!--目录tab-->
                    <div class="mod-sub-wrap jWrap0 current" node-type="container" data-id="1">
                        <div class="mod-dirs">
                            <div class="dir clearfix play">
                                <i class="icon iyoyo iyoyo-ok f-l"></i>
                                <i class="ui-line"></i>
                                <span class="f-l course-name">课时1</span>
                                <a href="" class="h3 f-l">PS基础工具使用</a>
                                <div class="f-r label clearfix">
                                    <i class="f-l iyoyo iyoyo-play"></i>
                                    <span class="time">5:00</span>
                                </div>
                            </div>
                            <div class="dir clearfix pause">
                                <i class="icon iyoyo iyoyo-pause f-l"></i>
                                <i class="ui-line"></i>
                                <span class="f-l course-name">课时2</span>
                                <a href="" class="h3 f-l">主图设计的几种分类</a>
                                <i class="line f-l"></i>
                                <div class="f-r label clearfix">
                                    <i class="f-l iyoyo iyoyo-play"></i>
                                    <span class="time">5:00</span>
                                </div>
                            </div>
                            <div class="dir clearfix pause">
                                <i class="icon iyoyo iyoyo-half-circle f-l"></i>
                                <i class="ui-line"></i>
                                <span class="f-l course-name">课时3</span>
                                <a href="" class="h3 f-l">主图设计的几种分类</a>
                                <div class="f-r label clearfix">
                                    <i class="f-l iyoyo iyoyo-play"></i>
                                    <span class="time">5:00</span>
                                </div>
                            </div>
                            <div class="dir clearfix pause">
                                <i class="icon-default f-l"></i>
                                <i class="ui-line"></i>
                                <span class="f-l course-name">课时4</span>
                                <a href="" class="h3 f-l">主图设计的几种分类</a>
                                <div class="f-r label clearfix">
                                    <i class="f-l iyoyo iyoyo-play"></i>
                                    <span class="time">5:00</span>
                                </div>
                            </div>
                            <div class="dir clearfix pause">
                                <i class="icon-default f-l"></i>
                                <i class="ui-line ui-line-none"></i>
                                <span class="f-l course-name">课时4</span>
                                <a href="" class="h3 f-l">主图设计的几种分类</a>
                                <div class="f-r label clearfix">
                                    <i class="f-l iyoyo iyoyo-play"></i>
                                    <span class="time">5:00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--评论tab-->
                    <div class="mod-sub-wrap jWrap1" node-type="container" data-id="2">
                        <div class="comment clearfix">
                            <!--已登录状态-->
                            <!--<div class="head-img f-l"><img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="课程详情" class="jImg img-error">花村扛把子</div>-->
                            <!--<div class="input f-l">-->
                            <!--<i class="arrow iyoyo iyoyo-iyoyo-arrow-left-normal jArrow"></i>-->
                            <!--<textarea name="comment" placeholder="看点糟点，不吐不快！别憋着，马上大声说出来吧！" class="jTxt"></textarea>-->
                            <!--<span class="limit jTxtNum"><i>0</i>/300</span>-->
                            <!--</div>-->
                            <!--<a href="javascript:void(0);"  class="publish jPublish f-l"><span>发表评论</span></a>-->
                            <!--已登录状态-->
                            <!--未登录状态-->
                            <div class="head-img f-l"><img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="课程详情" class="jImg img-error">花村扛把子</div>
                            <div class="input f-l">
                                <i class="arrow iyoyo iyoyo-iyoyo-arrow-left-normal-entity arrow-disabled"></i>
                                <textarea name="comment" class="text-disabled" disabled="disabled"></textarea>
                                <span class="input-login">请先<a href="javascript:void(0);">登陆</a>后发表评论！</span>
                            </div>
                            <a href="javascript:void(0);"  class="publish jPublish f-l publish-error"><span>发表评论</span></a>
                            <!--未登录状态-->
                        </div>
                        <div id="jWrap1Box">
                            <div class="mod-item talk clearfix">
                                <div class="head-img f-l"><img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="课程详情" class="jImg img-error"></div>
                                <div class="sub-content f-l">
                                    <h2>花村扛把子</h2>
                                    <p>PS制作过程中，图层会比较多，缩略图又会比较小，所以名称尽量起的明确些，如“原始图”之类的，以便于与其他图层进行区分。</p>
                                    <div class="mod-sub-label clearfix">
                                        <span class="date f-l">时间：2016-11-10</span>
                                        <span class="father f-l">源自：PS新建文档</span>
                                        <a href="javascript:void(0);" class="like f-r activeLike"><i class='iyoyo iyoyo-favour'></i>12122</a>
                                    </div>
                                </div>
                            </div>
                            <div class="mod-item talk clearfix">
                                <div class="head-img f-l"><img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="课程详情" class="jImg img-error"></div>
                                <div class="sub-content f-l">
                                    <h2>花村扛把子</h2>
                                    <p>PS制作过程中，图层会比较多，缩略图又会比较小，所以名称尽量起的明确些，如“原始图”之类的，以便于与其他图层进行区分。</p>
                                    <div class="mod-sub-label clearfix">
                                        <span class="date f-l">时间：2016-11-10</span>
                                        <span class="father f-l">源自：PS新建文档</span>
                                        <a href="javascript:void(0);" class="like f-r"><i class='iyoyo iyoyo-favour'></i>12122</a>
                                    </div>
                                </div>
                            </div>
                            <div class="mod-item talk clearfix">
                                <div class="head-img f-l"><img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="课程详情" class="jImg img-error"></div>
                                <div class="sub-content f-l">
                                    <h2>花村扛把子</h2>
                                    <p>PS制作过程中，图层会比较多，缩略图又会比较小，所以名称尽量起的明确些，如“原始图”之类的，以便于与其他图层进行区分。</p>
                                    <div class="mod-sub-label clearfix">
                                        <span class="date f-l">时间：2016-11-10</span>
                                        <span class="father f-l">源自：PS新建文档</span>
                                        <a href="javascript:void(0);" class="like f-r"><i class='iyoyo iyoyo-favour'></i>12122</a>
                                    </div>
                                </div>
                            </div>
                            <div class="mod-item talk clearfix">
                                <div class="head-img f-l"><img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="课程详情" class="jImg img-error"></div>
                                <div class="sub-content f-l">
                                    <h2>花村扛把子</h2>
                                    <p>PS制作过程中，图层会比较多，缩略图又会比较小，所以名称尽量起的明确些，如“原始图”之类的，以便于与其他图层进行区分。</p>
                                    <div class="mod-sub-label clearfix">
                                        <span class="date f-l">时间：2016-11-10</span>
                                        <span class="father f-l">源自：PS新建文档</span>
                                        <a href="javascript:void(0);" class="like f-r"><i class='iyoyo iyoyo-favour'></i>12122</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--问答tab-->
                    <div class="mod-sub-wrap jWrap2" node-type="container" data-id="3">
                        <div class="top-bar clearfix jSubNav" name="type">
                            <a href="javascript:void(0);" class="bar-left f-l active" data-value="0">全部</a>
                            <a href="javascript:void(0);" class="bar-left f-l" data-value="1">精华</a>
                            <a id="jQuestion" href="javascript:void(0);" class="wrap2-bar-right f-r"><i class="iyoyo iyoyo-question-1"></i>我要提问</a>
                        </div>
                        <div id="jWrap2Box">
                            <div class="mod-item clearfix">
                                <div class="head-img f-l">
                                    <img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="课程详情" class="jImg img-error">
                                </div>
                                <div class="sub-content question f-l">
                                    <h2>花村扛把子</h2>
                                    <a href="" class="h3 txt-overflow">Mac装PS CC如何破解？</a>
                                    <p class="jWrap3P txt-overflow">嗯，这个提问大家都在考虑......</p>
                                    <div class="mod-sub-label clearfix">
                                        <span class="date f-l">时间：10秒前</span>
                                        <div class="f-r">
                                            <span class="res"><span>0</span><span>&nbsp;&nbsp;回答</span></span>
                                            <span class="look"><span>10</span><span>&nbsp;&nbsp;浏览</span></span>
                                            <a href="javascript:void(0);" class="view-all jViewAll"><i class="view-down"></i>查看全文</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mod-item clearfix">
                                <div class="head-img f-l">
                                    <img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="课程详情" class="jImg img-error">
                                </div>
                                <div class="sub-content question f-l">
                                    <h2>花村扛把子</h2>
                                    <a href="" class="h3 txt-overflow">Mac装PS CC如何破解？</a>
                                    <p class="jWrap3P txt-overflow">嗯，这个提问大家都在考虑......</p>
                                    <div class="mod-sub-label clearfix">
                                        <span class="date f-l">时间：10秒前</span>
                                        <div class="f-r">
                                            <span class="res"><span>0</span><span>&nbsp;&nbsp;回答</span></span>
                                            <span class="look"><span>10</span><span>&nbsp;&nbsp;浏览</span></span>
                                            <a href="javascript:void(0);" class="view-all jViewAll"><i class="view-down"></i>查看全文</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mod-item clearfix">
                                <div class="head-img f-l">
                                    <img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="课程详情" class="jImg img-error">
                                </div>
                                <div class="sub-content question f-l">
                                    <h2>花村扛把子</h2>
                                    <a href="" class="h3 txt-overflow">Mac装PS CC如何破解？</a>
                                    <p class="jWrap3P txt-overflow"><span class="status">[最新<a href="">探长</a>的回答]</span>下一个免装版吧，地址：baidu.com</p>
                                    <div class="mod-sub-label clearfix">
                                        <span class="date f-l">时间：10秒前</span>
                                        <div class="f-r">
                                            <span class="res"><span>0</span><span>&nbsp;&nbsp;回答</span></span>
                                            <span class="look"><span>10</span><span>&nbsp;&nbsp;浏览</span></span>
                                            <a href="javascript:void(0);" class="view-all jViewAll"><i class="view-down"></i>查看全文</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mod-item clearfix">
                                <div class="head-img f-l">
                                    <img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="课程详情" class="jImg img-error">
                                </div>
                                <div class="sub-content question f-l">
                                    <h2>花村扛把子</h2>
                                    <a href="" class="h3 txt-overflow">Mac装PS CC如何破解？</a>
                                    <p class="jWrap3P txt-overflow"><span class="status">[最新<a href="">探长</a>的回答]</span>下一个免装版吧，地址：baidu.com</p>
                                    <div class="mod-sub-label clearfix">
                                        <span class="date f-l">时间：10秒前</span>
                                        <div class="f-r">
                                            <span class="res"><span>0</span><span>&nbsp;&nbsp;回答</span></span>
                                            <span class="look"><span>10</span><span>&nbsp;&nbsp;浏览</span></span>
                                            <a href="javascript:void(0);" class="view-all jViewAll"><i class="view-down"></i>查看全文</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--笔记tab-->
                    <div class="mod-sub-wrap jWrap3" node-type="container" data-id="4">
                        <div class="top-bar clearfix jSubNav" name="type">
                            <a href="javascript:void(0);" class="bar-left f-l active" data-value="2">最新</a>
                            <a href="javascript:void(0);" class="bar-left f-l" data-value="3">点赞</a>
                            <a href="javascript:void(0);" class="bar-right f-r">只看我的</a>
                        </div>
                        <div id="jWrap3Box">
                            <div class="mod-item clearfix">
                                <div class="head-img f-l"><img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="课程详情" class="jImg img-error"></div>
                                <div class="sub-content note f-l">
                                    <h2>花村扛把子</h2>
                                    <p class="jWrap3P">笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖</p>
                                    <div class="mod-sub-label clearfix">
                                        <span class="date f-l">时间：2016-11-10</span>
                                        <span class="father f-l">源自：PS新建文档</span>
                                        <div class="f-r">
                                            <a href="javascript:void(0);" class="pick"><i>已采集</i><span>90</span></a>
                                            <a href="javascript:void(0);" class="like"><i class='iyoyo iyoyo-favour'></i>12122</a>
                                            <a href="javascript:void(0);" class="view-all jViewAll"><i class="view-down"></i>查看全文</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mod-item clearfix">
                                <div class="head-img f-l"><img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="课程详情" class="jImg img-error"></div>
                                <div class="sub-content note f-l">
                                    <h2>花村扛把子</h2>
                                    <p class="jWrap3P">笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖</p>
                                    <div class="mod-sub-label clearfix">
                                        <span class="date f-l">时间：2016-11-10</span>
                                        <span class="father f-l">源自：PS新建文档</span>
                                        <div class="f-r">
                                            <a href="javascript:void(0);" class="pick"><i>已采集</i><span>90</span></a>
                                            <a href="javascript:void(0);" class="like"><i class='iyoyo iyoyo-favour'></i>12122</a>
                                            <a href="javascript:void(0);" class="view-all jViewAll">查看全文</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mod-item clearfix">
                                <div class="head-img f-l"><img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="课程详情" class="jImg img-error"></div>
                                <div class="sub-content note f-l">
                                    <h2>花村扛把子</h2>
                                    <p class="jWrap3P">笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖</p>
                                    <div class="mod-sub-label clearfix">
                                        <span class="date f-l">时间：2016-11-10</span>
                                        <span class="father f-l">源自：PS新建文档</span>
                                        <div class="f-r">
                                            <a href="javascript:void(0);" class="pick"><i>已采集</i><span>90</span></a>
                                            <a href="javascript:void(0);" class="like"><i class='iyoyo iyoyo-favour'></i>12122</a>
                                            <a href="javascript:void(0);" class="view-all jViewAll">查看全文</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mod-item clearfix">
                                <div class="head-img f-l">
                                    <img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="课程详情" class="jImg img-error"></div>
                                <div class="sub-content note f-l">
                                    <h2>花村扛把子</h2>
                                    <p class="jWrap3P">笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖硬质画笔将不必要的部位遮盖</p>
                                    <div class="mod-sub-label clearfix">
                                        <span class="date f-l">时间：2016-11-10</span>
                                        <span class="father f-l">源自：PS新建文档</span>
                                        <div class="f-r">
                                            <a href="javascript:void(0);" class="pick"><i>已采集</i><span>90</span></a>
                                            <a href="javascript:void(0);" class="like"><i class='iyoyo iyoyo-favour'></i>12122</a>
                                            <a href="javascript:void(0);" class="view-all jViewAll">查看全文</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mod-page clearfix">
                    <div id="jPagination" class="f-r"></div>
                </div>
            </div>
            <div class="mod-right f-r">
                <div class="mod-slider">
                    <h2>学习目的</h2>
                    <div class="txt">
                        <p>PS是目前公认的最好的通用平面美术设计软件，它的功能完善，性能稳定，使用方便，所以几乎在所有的广告、出版、软件公司，Photo</p>
                        <p><br/>学习教程,主要有三个目的：<br/>
                            1.熟悉软件，了解这个软件更多的功能和这些功能的特性!<br/>
                            <br/>
                            2.思考教程，去思考为什么要这么在做？这么做的目的是什么？<br/>
                            <br/>
                            3.理解延伸，我能用这个特性做出更好的效果吗？</p>
                    </div>
                </div>
                <div class="mod-slider">
                    <h2>相关课程</h2>
                    <div class="items">
                        <a href="" class="item clearfix">
                            <img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="课程详情" class="jImg img-error f-l">
                            <div class="info f-l">
                                <h3>画一个黄色笑脸 </h3>
                                <span>徐老师</span>
                            </div>
                        </a>
                        <a href="" class="item clearfix">
                            <img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="课程详情" class="jImg img-error f-l">
                            <div class="info f-l">
                                <h3>画一个黄色笑脸 </h3>
                                <span>徐老师</span>
                            </div>
                        </a>
                        <a href="" class="item clearfix">
                            <img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="课程详情" class="jImg img-error f-l">
                            <div class="info f-l">
                                <h3>画一个黄色笑脸 </h3>
                                <span>徐老师</span>
                            </div>
                        </a>
                        <a href="" class="item clearfix">
                            <img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="课程详情" class="jImg img-error f-l">
                            <div class="info f-l">
                                <h3>画一个黄色笑脸 </h3>
                                <span>徐老师</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--#include file="./common/footer.html"-->
<!--#include file="./common/js.html"-->
<script type="text/javascript">
    require(['conf/course/detail'], function() {});
</script>
<script id="jWrap1" type="text/html">
    {{each resultList as value i}}
    <div class="mod-item talk clearfix">
        <div class="head-img f-l"><img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="{{value.imageUrl}}" alt="课程详情" class="jImg img-error"></div>
        <div class="sub-content f-l">
            <h2>{{value.nick}}</h2>
            <p>{{value.content}}</p>
            <div class="mod-sub-label clearfix">
                <span class="date f-l">时间：{{value.updateTime}}</span>
                <span class="father f-l">源自：{{value.source}}</span>
                <a href="javascript:void(0);" class="like f-r"><i class='iyoyo iyoyo-favour'></i>{{value.num}}</a>
            </div>
        </div>
    </div>
    {{/each}}
</script>
<script id="jWrap2" type="text/html">
    {{each resultList as value i}}
    <div class="mod-item clearfix">
        <div class="head-img f-l"><img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="{{value.imageUrl}}" alt="课程详情" class="jImg img-error"></div>
        <div class="sub-content question f-l">
            <h2>{{value.nick}}</h2>
            <a href="" class="h3 txt-overflow">{{value.title}}</a>
            {{if value.name == ''}}
            <p class="jWrap3P">{{value.content}}</p>
            {{/if}}
            {{if value.name != ''}}
            <p class="jWrap3P"><span class="status">[最新<a href="">{{value.name}}</a>的回答]</span>{{value.content}}</p>
            {{/if}}
            <div class="mod-sub-label clearfix">
                <span class="date f-l">时间：{{value.time}}秒前</span>
                <div class="f-r">
                    <span class="res"><span>{{value.ask}}</span><span>&nbsp;&nbsp;回答</span></span>
                    <span class="look"><span>{{value.view}}</span><span>&nbsp;&nbsp;浏览</span></span>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</script>
<script id="jWrap3" type="text/html">
    {{each resultList as value i}}
    <div class="mod-item clearfix">
        <div class="head-img f-l"><img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="{{value.imageUrl}}" alt="课程详情" class="jImg img-error"></div>
        <div class="sub-content note f-l">
            <h2>{{value.nick}}</h2>
            <p class="jWrap3P">{{value.content}}</p>
            <div class="mod-sub-label clearfix">
                <span class="date f-l">时间：{{value.updateTime}}</span>
                <span class="father f-l">源自：{{value.source}}</span>
                <div class="f-r">
                    <a href="javascript:void(0);" class="pick"><i>采集</i><span>{{value.cai}}</span></a>
                    <a href="javascript:void(0);" class="like"><i class='iyoyo iyoyo-favour'></i>{{value.num}}</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</script>
<!--#include file="./common/tj.html"-->
<!--#include file="./common/statistics.html"-->
</body>

</html>