
<!DOCTYPE html>
<html>

<head>
    <title>资讯中心</title>
    <!--#include file="./common/meta.html"-->
    <!--#include file="./common/css.html"-->
    <link rel="stylesheet" href="/css/conf/news/index.css" type="text/css" charset="utf-8">
</head>

<body>
<!-- 我是注释 -->
<!--#include file="./common/header.html"-->
<div class="mod-detail">
    <div class="mod-container">
        <div class="mod-wrap clearfix">
            <div class="mod-left f-l">
                <div class="mod-sub-nav clearfix">
                    <a href="javascript:void(0);" class="f-l current" data-value="0">最新</a>
                    <a href="javascript:void(0);" class="f-l" data-value="1">就业指导</a>
                    <a href="javascript:void(0);" class="f-l" data-value="2">电商动态</a>
                    <a href="javascript:void(0);" class="f-l" data-value="3">行业早报</a>
                    <a href="javascript:void(0);" class="f-l" data-value="4">干货分享</a>
                </div>
                <div class="mod-sub-wrap jWrap2" id="jWrap"></div>
                <!--分页begin-->
                <div class="mod-page clearfix">
                    <div class="f-r" id="jPagination"></div>
                </div>
                <!--分页end-->
            </div>
            <div class="mod-right f-r">
                <div class="mod-slider">
                    <h2>热门资讯</h2>
                    <div class="mod-news-list" id="jHotNews"></div>
                </div>
                <div class="mod-slider">
                    <h2>热门培训课程</h2>
                    <div class="items clearfix" id="jHotCourse"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--#include file="./common/footer.html"-->
<!--#include file="./common/js.html"-->
<script type="text/javascript">
    require(['conf/news/index'], function() {});
</script>
<script id="wrap" type="text/html">
    {{each list as value i}}
    <div class="mod-item talk clearfix">
        <div class="head-img f-l"><a href=""><img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="{{value.imageUrl}}" alt="讲师" class="jImg img-error"></a></div>
        <div class="sub-content f-l">
            <a href="" class="h2">{{value.title}}</a>
            <div class="mod-sub-label clearfix">
                <span class="date f-l">{{value.date}}</span>
            </div>
            <p>{{value.content}}</p>
        </div>
    </div>
    {{/each}}
</script>
<script id="jNews" type="text/html">
    <ul>
        {{each list as value i}}
            {{if i < 3}}
            <li class="list list-red clearfix"><span class="f-l">{{i+1}}</span><a class="f-l txt-overflow" href="">{{value.activeTitle}}</a></li>
            {{/if}}
            {{if i >= 3}}
            <li class="list clearfix"><span class="f-l">{{i+1}}</span><a class="f-l txt-overflow" href="">{{value.activeTitle}}</a></li>
            {{/if}}
        {{/each}}
    </ul>
</script>
<script id="jCourse" type="text/html">
    {{each list as value i}}
        <a href="" class="item f-l">
            <img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="{{value.imageUrl}}" alt="讲师" class="jImg img-error">
            <div class="info">
                <span>{{value.teacherName}}</span>
            </div>
        </a>
    {{/each}}
</script>
<!--#include file="./common/tj.html"-->
<!--#include file="./common/statistics.html"-->
</body>

</html>