<!DOCTYPE html>
<html>
<head>
    <title>我的考试</title>
    <!--#include file="./common/meta.html"-->
    <!--#include file="./common/css.html"-->
    <link rel="stylesheet" href="/css/conf/uc/my-test.css" type="text/css" charset="utf-8"/>
    <script type="text/javascript">
        $PAGE_DATA['loadTest']=$PAGE_DATA['baseStaticUrl'] + '/source/api/uc/test.json';
        $PAGE_DATA['examnotes']='/userCenter/exam/listResult';
        $PAGE_DATA['analysisUrl']= '/userCenter/exam/gotoAnalysis?examId=112';
    </script>
</head>

<body>
<!-- 我是注释 -->
<!--#include file="./common/header.html"-->
<div class="mod-page ">
    <div class="ifm-uc clearfix">
            <!--#include file="./module/uc/left-menu.html"-->
            <div class="ifm-right-container">
                <div id="jIfmTab" class="ifm-tab">
                    <div class="ifm-hd clearfix">
                        <!-- tab 头部 start -->
                        <ul class="clearfix ifm-tab-hd" node-type="hd">
                            <li class="ifm-tab-item current" node-type="hdItem" data-target="1"><a href="javascript:;">我的考试</a></li>
                             <li class="ifm-tab-item" node-type="hdItem" data-target="2"><a href="javascript:;">考试记录</a></li>
                        </ul>
                    </div>
                <div class="ifm-tab-bd" node-type="bd">
                    <!-- tab内容区域-1 start-->
                    <div class="ifm-tab-container current"  node-type="container" data-id="1">
                        <div class="ifm-main-container">
                            <!-- 页面主内容 start -->
                            <div node-type="jContainer">
                                <div class="ui-loading-list">
                                    <div class="img-loading"></div>
                                    <div class="txt">
                                        正在卖力加载，请稍后...
                                    </div>
                                </div>
                            </div>
                            <!-- 页面主内容 end -->
                        </div>
                        <div class="ifm-bottom-bar">
                            <!-- 底部工具栏 start -->
                            <div node-type="jPagination" class="pager jPagination"></div>
                            <!-- 底部工具栏 end -->
                        </div>
                    </div>
                    <!-- tab内容区域-1 end-->

                    <!-- tab内容区域-2 start-->
                    <div class="ifm-tab-container"  node-type="container" data-id="2">
                        <div class="ifm-main-container">
                            <!-- 页面主内容 start -->
                            <div node-type="jContainer">
                                <div class="ui-loading-list">
                                    <div class="img-loading"></div>
                                    <div class="txt">
                                        正在卖力加载，请稍后...
                                    </div>
                                </div>
                            </div>
                            <!-- 页面主内容 end -->
                        </div>
                        <div class="ifm-bottom-bar">
                            <!-- 底部工具栏 start -->
                            <div node-type="jPagination" class="pager jPagination"></div>
                            <!-- 底部工具栏 end -->
                        </div>
                    </div>
                    <!-- tab内容区域-2 end-->


                </div>
            </div>
        </div>
    </div>
    <!--#include file="./module/uc/right-container.html"-->
</div>
<!--#include file="./common/footer.html"-->
<!--#include file="./common/js.html"-->
<script type="text/javascript">
    require(['conf/uc/my-test'], function(){});
</script>
<!--#include file="./common/tj.html"-->
<!--#include file="./common/statistics.html"-->
<script type="text/html" id="jTestModule">
    <div class="mod-contain clearfix">
        <div class="mod-item" >
            <ul>
                {{each resultList as value i}}
                <!--考试未开始-->
                {{if value.status == 0}}
                    <li class="jExamList item  clearfix {{deletingClass}}" data-value="{{value.id}}">
                        <!-- <div class="picture f-l">
                            <a href="javascript:;"><img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src={{value.imageUrl}} alt="系列课" class="jImg img-error"></a>
                        </div> -->
                        <div class="contain f-l">
                            <div class="title clearfix">
                                <h3 class="hit f-l" title="{{value.examName}}">{{value.examName}}</h3>
                                <!-- <span class="course-label">{{value.tags}}</span> -->
                            </div>
                            <div class="contain-down">
                                <div class="dis teacher">
                                    <span>总分<em>{{value.totalScore}}</em></span>
                                    <span>限时<em>{{value.limitMinute}}分钟</em></span>
                                </div>
                                <div class="dis study-time">
                                    <span>考试时间<em>{{value.startTime}} ~ {{value.endTime}}</em></span>
                                </div>
                            </div>
                        </div>
                        <div class="f-r mod-exam jExamManage">

                                <div class="mod-wait-exam">
                                    <p>还有{{value.intervalExamMinute}}开考</p>
                                </div>
                        </div>
                    </li>
                {{/if}}
                
                <!-- 考试开始 -->
                {{if value.status == 1 && value.isExamed == 0}}
                    <li class="jExamList item  clearfix {{deletingClass}}" data-value="{{value.id}}">
                        <!-- <div class="picture f-l">
                            <a href="javascript:;"><img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src={{value.imageUrl}} alt="系列课" class="jImg img-error"></a>
                        </div> -->
                        <div class="contain f-l">
                            <div class="title clearfix">
                                <h3 class="hit f-l" title="{{value.examName}}">{{value.examName}}</h3>
                            </div>
                            <div class="contain-down">
                                <div class="dis teacher">
                                    <span>总分<em>{{value.totalScore}}</em></span>
                                    <span>限时<em>{{value.limitMinute}}分钟</em></span>
                                </div>
                                <div class="dis study-time">
                                    <span>考试时间<em>{{value.startTime}} ~ {{value.endTime}}</em></span>
                                </div>
                            </div>
                        </div>
                        <div class="f-r mod-exam jExamManage">
                            <!--未参加过考试-->
                                {{if value.isExamed == 0}}
                                    <div class="mod-in-exam">
                                        {{if value.intervalExamEndMinute != 0}}
                                            <a href="javascript:;" class="join-exam">参加考试</a>
                                            <p>离考试结束还有{{value.intervalExamEndMinute}}</p>
                                        {{/if}}
                                        {{if value.intervalExamEndMinute == 0}}
                                            <a href="javascript:;" class="join-exam mt-20">参加考试</a>
                                        {{/if}}
                                    </div>
                                {{/if}}
                        </div>
                    </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</script>
<!---->
<script type="text/html" id="jModuleTest2">
   <div class="mod-contain clearfix">
        <div class="btn clearfix">
            <button class="ui-btn jBtn f-r {{deletingClass}}">{{deletingTxt}}</button>
        </div>
        <div class="mod-item" >
            <ul>
                {{each resultList as value i}}
                    <li class="jExamList item  clearfix jBtnManage jItem {{deletingClass}}" data-value="{{value.id}}">
                       <!--  <div class="picture f-l">
                            <a href="javascript:;"><img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src={{value.imageUrl}} alt="系列课" class="jImg img-error"></a>
                        </div> -->
                        <div class="contain f-l">
                            <div class="title clearfix">
                                <h3 class="hit f-l" title="{{value.examName}}">{{value.examName}}</h3>
                            </div>
                            <div class="contain-down">
                                <div class="dis teacher">
                                    <span>总分<em>{{value.totalScore}}</em></span>
                                    <span>限时<em>{{value.limitMinute}}分钟</em></span>
                                </div>
                                <div class="dis study-time">
                                    <span>考试时间<em>{{value.startTime}} ~ {{value.endTime}}</em></span>
                                </div>
                            </div>
                        </div>
                        <div class="f-r mod-exam jExamManage">
                            <!--通过考试-->
                            {{if value.isPassed == 1}}
                                <div class="mod-pass-exam has-join clearfix">
                                    <p class="f-l"><span>{{value.score}}</span><i>已通过</i></p>
                                    <h6 class="f-l">
                                        <a href="javascript:;" class="view-page jViewPage">查看答卷</a>
                                        <!-- <a href="javascript:;" class="view-page">分析报告</a> -->
                                    </h6>
                                </div>
                            {{/if}}
                            <!--未通过考试-->
                            {{if value.isPassed == 0}}
                                <div class="mod-fail-exam has-join clearfix">
                                    <p class="f-l"><span>{{value.score}}</span><i>未通过</i></p>
                                    <h6 class="f-l">
                                        <a href="javascript:;" class="view-page jViewPage">查看答卷</a>
                                        <!-- <a href="javascript:;" class="view-page">分析报告</a> -->
                                    </h6>
                                </div>
                            {{/if}}
                            <a href="javascript:;" data-id="{{value.id}}" class="jBtnDel ui-delete-btn iyoyo iyoyo-del"></a>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>

</script>
<script id="tEmpty" type="text/html">
    <div class="ui-empty-list">
        <div class="iyoyo iyoyo-box"></div>
        <div class="txt">请先学习，再来考试哦</div>
    </div>
</script>
</body>
</html>
