<!DOCTYPE html>
<html>
<head>
    <title>我的考试</title>
    <!--#include file="./common/meta.html"-->
    <!--#include file="./common/css.html"-->
    <link rel="stylesheet" href="/css/conf/uc/my-test.css" type="text/css" charset="utf-8"/>
    <script type="text/javascript">
        $PAGE_DATA['getPager'] = $PAGE_DATA['baseStaticUrl'] + '/source/api/uc/index/pager.json';
        $PAGE_DATA['currentPage'] = '1';
    </script>
</head>

<body>
<!-- 我是注释 -->
<!--#include file="./common/header.html"-->
<div class="mod-page ">
    <div class="ifm-uc clearfix">
        <!--#include file="./module/uc/left-menu.html"-->
        <div class="ifm-right-container">
            <h3 class="mod-test-title">我的考试</h3>
            <div id="jIfmTab" class="ifm-tab">
                <div class="ifm-hd clearfix">
                    <!-- tab 头部 start -->
                    <ul class="clearfix ifm-tab-hd" node-type="hd">
                        <li class="ifm-tab-item" node-type="hdItem" data-target="1"><a href="http://www.baidu.com">全部</a></li>
                        <li class="ifm-tab-item" node-type="hdItem" data-target="2"><a href="http://www.baidu.com">待参加</a></li>
                        <li class="ifm-tab-item" node-type="hdItem" data-target="3"><a href="http://www.baidu.com">已通过</a></li>
                        <li class="ifm-tab-item" node-type="hdItem" data-target="4"><a href="http://www.baidu.com">未通过</a></li>
                    </ul>
                    <!-- tab 头部 end -->
                    <div class="ifm-top-bar">
                        <!-- tab右侧工具栏 start -->
                        <div class="btn f-r clearfix">
                            <button class="ui-btn jBtn">管理</button>
                            <button class="ui-btn t-btn jTbtn">完成</button>
                        </div>
                        <!-- tab右侧工具栏 end -->
                    </div>
                </div>
                <div class="ifm-tab-bd" node-type="bd">
                    <!-- tab内容区域-1 start-->
                    <div class="ifm-tab-container" node-type="container" data-id="1">
                        <div class="ifm-main-container">
                            <!-- 页面主内容 start -->
                            <div node-type="jContainer">
                                <div class="ui-loading-list">
                                    <div class="img-loading"></div>
                                    <div class="txt">
                                        正在卖力加载，请稍后...
                                    </div>
                                </div>
                            </div>
                            <!-- 页面主内容 end -->
                        </div>
                        <div class="ifm-bottom-bar">
                            <!-- 底部工具栏 start -->
                            <div node-type="jPagination" class="pager"></div>
                            <!-- 底部工具栏 end -->
                        </div>
                    </div>
                    <!-- tab内容区域-1 end-->

                    <!-- tab内容区域-2 start-->
                    <div class="ifm-tab-container" node-type="container" data-id="2">
                        <div class="ifm-main-container">
                            <!-- 页面主内容 start -->
                            <div node-type="jContainer">
                                <div class="ui-loading-list">
                                    <div class="img-loading"></div>
                                    <div class="txt">
                                        正在卖力加载，请稍后...
                                    </div>
                                </div>
                            </div>
                            <!-- 页面主内容 end -->
                        </div>
                        <div class="ifm-bottom-bar">
                            <!-- 底部工具栏 start -->
                            <div node-type="jPagination" class="pager"></div>
                            <!-- 底部工具栏 end -->
                        </div>
                    </div>
                    <!-- tab内容区域-1 end-->
                    <!-- tab内容区域-1 start-->
                    <div class="ifm-tab-container" node-type="container" data-id="3">
                        <div class="ifm-main-container">
                            <!-- 页面主内容 start -->
                            <div node-type="jContainer">
                                <div class="ui-loading-list">
                                    <div class="img-loading"></div>
                                    <div class="txt">
                                        正在卖力加载，请稍后...
                                    </div>
                                </div>
                            </div>
                            <!-- 页面主内容 end -->
                        </div>
                        <div class="ifm-bottom-bar">
                            <!-- 底部工具栏 start -->
                            <div node-type="jPagination" class="pager"></div>
                            <!-- 底部工具栏 end -->
                        </div>
                    </div>
                    <!-- tab内容区域-1 end-->
                    <!-- tab内容区域-1 start-->
                    <div class="ifm-tab-container" node-type="container" data-id="4">
                        <div class="ifm-main-container">
                            <!-- 页面主内容 start -->
                            <div node-type="jContainer">
                                <div class="ui-loading-list">
                                    <div class="img-loading"></div>
                                    <div class="txt">
                                        正在卖力加载，请稍后...
                                    </div>
                                </div>
                            </div>
                            <!-- 页面主内容 end -->
                        </div>
                        <div class="ifm-bottom-bar">
                            <!-- 底部工具栏 start -->
                            <div node-type="jPagination" class="pager"></div>
                            <!-- 底部工具栏 end -->
                        </div>
                    </div>
                    <!-- tab内容区域-1 end-->
                </div>
            </div>
        </div>
    </div>
    <!--#include file="./module/uc/right-container.html"-->
</div>
<!--#include file="./common/footer.html"-->
<!--#include file="./common/js.html"-->
<script type="text/javascript">
    require(['conf/uc/my-test'], function(){});
</script>
<!--#include file="./common/tj.html"-->
<!--#include file="./common/statistics.html"-->
<script type="text/html" id="jModule">
    <div class="mod-contain clearfix">
        <div class="mod-item">
            <ul>
                {{each resultList as value i}}
                <li class="item clearfix">
                    <div class="picture f-l">
                        <img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="系列课" class="jImg img-error">
                    </div>
                    <div class="contain f-l">
                        <div class="title clearfix">
                            <h3 class="hit f-l">教农产品电商认识京东平台</h3>
                            <span class="course-label f-l">客服考试</span>
                            <span class="course-label f-l">线上考试</span>
                        </div>
                        <div class="contain-down">
                            <div class="dis teacher">
                                <span>讲师<em>100分</em></span>
                                <span>限时<em>60分钟</em></span>
                            </div>
                            <div class="dis study-time">
                                <span>考试时间<em>2016-03-28  14:12 ~ 2116-03-28  14:12</em></span>
                            </div>
                        </div>
                    </div>
                    <div class="f-r">
                        {{if resultList.status==0}}
                        <a href="javascript:;">参加考试</a>
                        <p>离考试结束还有1天3时</p>
                        {{/if}}
                        {{if resultList.status==1}}
                        <a href="javascript:;">参加考试</a>
                        <p>离考试结束还有1天3时</p>
                        {{/if}}
                        {{if resultList.status==2}}
                        <a href="javascript:;">参加考试</a>
                        <p>离考试结束还有1天3时</p>
                        {{/if}}
                        {{if resultList.status==0}}
                        <a href="javascript:;">参加考试</a>
                        <p>离考试结束还有1天3时</p>
                        {{/if}}
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</script>

<script type="text/html" id="jModule2">

    <div class="mod-contain ">
        <div class="btn clearfix">
            <button class="ui-btn jBtn">管理</button>
            <button class="ui-btn t-btn jTbtn">完成</button>
        </div>
        {{each resultList as value i}}
        <div class="mod-item">
            <ul>
                <li class="item clearfix">
                    <div class="picture f-l">
                        <img src="//s1.zzhstatic.com/lib/assets/images/s.gif" data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg" alt="系列课" class="jImg img-error">
                    </div>
                    <div class="contain f-l">
                        <div class="title clearfix">
                            <h3 class="hit f-l">教农产品电商认识京东平台</h3>
                            <span class="describe">农村电商</span>
                        </div>
                        <div class="contain-down">
                            <div class="dis teacher">
                                <span>讲师</span><em>姜凯城</em>
                            </div>
                            <div class="dis study-num">
                                <span>讲师</span><em>姜凯城</em>
                            </div>
                            <div class="dis study-time">
                                <span>上次学习的时间</span><em>2016-05</em><strong>13:30</strong>
                            </div>
                        </div>
                    </div>
                    <div class="d-zone">
                        <div class="load f-r">
                            <p class="num">50%</p>
                            <p class="txt">学习进度</p>
                        </div>
                        <div class="dele f-r">
                            <i class="iyoyo iyoyo-del"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        {{/each}}
    </div>

</script>

<script type="text/html" id="jModule3">
    <div class="mod-contain mod-news">
        <div class="btn clearfix">
            <button class="ui-btn jBtn">管理</button>
            <button class="ui-btn t-btn jTbtn">完成</button>
        </div>
        {{each resultList as value i}}
        <div class="mod-item">
            <ul>
                <li class="item clearfix">
                    <div class="mod-left f-l">
                        <div class="describe">
                            <span>就业指导</span>
                        </div>

                        <div class="txt">
                            <p class="txt-contain">
                                <a href="javascript:;">看附件打开开卷考接口开开卷考接口开开卷考接口开开卷考接口开开卷考接口开开卷考接口开开卷考接口开开卷考接口开开卷考接口口开开卷考接口口开开卷考接口口开开卷考接口口开开卷考接口口开开卷考接口口开开卷考接口开开卷考接口开卷考就开卷考接口空间开卷考快乐据考i哦i科技开卷考开卷考可就开卷考浏览哦i亏</a>
                            </p>
                        </div>
                        <div class="time">2016-11-23</div>
                    </div>
                    <div class="f-r del">
                        <i class="iyoyo iyoyo-del"></i>
                    </div>
                </li>
            </ul>
        </div>
        {{/each}}
    </div>

</script>
</body>

</html>
