<!DOCTYPE html>
<html>

<head>
    <title>我的笔记</title>
    <!--#include file="./common/meta.html"-->
    <!--#include file="./common/css.html"-->
    <link rel="stylesheet" href="/css/conf/uc/note.css" type="text/css" charset="utf-8">
    <script type="text/javascript">
    $PAGE_DATA['getPager'] = $PAGE_DATA['baseStaticUrl'] + '/source/api/uc/index/pager.json';
    $PAGE_DATA['currentPage'] = '1';
    </script>
</head>

<body>
    <!-- 我是注释 -->
    <!--#include file="./common/header.html"-->
    <div class="mod-page ">
        <div class="ifm-uc clearfix">
            <!--#include file="./module/uc/left-menu.html"-->
            <div class="ifm-right-container">
                <div id="jIfmTab" class="ifm-tab">
                    <div class="ifm-hd clearfix">
                        <!-- tab 头部 start -->
                        <ul class="clearfix ifm-tab-hd" node-type="hd">
                            <li class="ifm-tab-item current" node-type="hdItem" data-target="1">
                                <a href="javascript:;">我的笔记</a>
                            </li>
                        </ul>
                        <!-- tab 头部 end -->
                        <div class="ifm-top-bar">
                            <!-- tab右侧工具栏 start -->
                            <div class="ui-uc-search-bar" id="jUcSearchBar">
                                <label class="lbl" for="_ucSearchBar">按考试名称模糊搜索</label>
                                <input class="txt" id="_ucSearchBar" node-type="ipt" type="text" data-id="key">
                                <button node-type="btn" class="iyoyo iyoyo-search"></button>
                            </div>
                            <!-- tab右侧工具栏 end -->
                        </div>
                    </div>
                    <div class="ifm-tab-bd" node-type="bd">
                        <!-- tab内容区域-1 start-->
                        <div class="ifm-tab-container" node-type="container" data-id="1">
                            <div class="ifm-main-container">
                                <!-- 页面主内容 start -->
                                <div node-type="jContainer">
                                    <div class="ui-loading-list">
                                        <div class="img-loading"></div>
                                        <div class="txt">
                                            正在卖力加载，请稍后...
                                        </div>
                                    </div>
                                </div>
                                <!-- 页面主内容 end -->
                            </div>
                            <div class="ifm-bottom-bar">
                                <!-- 底部工具栏 start -->
                                <div node-type="jPagination" class="pager"></div>
                                <!-- 底部工具栏 end -->
                            </div>
                        </div>
                        <!-- tab内容区域-1 end-->
                    </div>
                </div>
            </div>
        </div>
        <!--#include file="./module/uc/right-container.html"-->
    </div>
    <!--#include file="./common/footer.html"-->
    <!--#include file="./common/js.html"-->
    <script type="text/javascript">
    require(['conf/uc/note'], function() {});
    </script>
    <script type="text/html" id="jNote">
        <div class="mod-note">
            <ul class="note-list">
            {{each resultList as item i}}
                {{if i<4 }}
                {{i}}
                <li class="item jEdit">
                    <p class="title">
                        <span class="course-title">课程名称:</span>
                        <span class="topic">我的工具使用</span>
                    </p>
                    <textarea class="details jEditDetails" readonly="readonly">据韩联社报道，韩国总统朴槿惠同意在明年4月辞去总统职务。随着“亲信干政”事件的不断发酵，韩国朝野及民众的反对声浪不断高涨。上周六，共有大约232万韩国民众在全国各地举行大规模集会。据韩联社报道，韩国总统朴槿惠同意在明年4月辞去总统职务。随着“亲信干政”事件的不断发酵，韩国朝野及民众的反对声浪不断高涨。上周六，共有大约232万韩国民众在全国各地举行大规模集会。</textarea>
                    <div class="control clearfix">
                        <div class="creat-time f-l">
                            <span class="creat">创建时间 :</span>
                            <span class="time">2016-12-06</span>
                        </div>
                        <div class="edit f-r">
                            <span class="secret jHide">
                                {{if i>5}}
                                    <i class="iyoyo iyoyo-heart"></i>
                                    <em class="normal">私密</em>
                                {{else}}
                                    <i class="iyoyo iyoyo-favour"></i>
                                    <em class="normal">10</em>
                                {{/if}}
                                <i class="iyoyo iyoyo-note jEditTxt"></i>
                                <i class="iyoyo iyoyo-del jDel"></i>
                            </span>
                            <button class="ui-btn ui-btn-danger jSave">保存</button>
                        </div>
                    </div>
                </li>
                {{/if}}
            {{/each}}
            </ul>
        </div>
    </script>
    <!--#include file="./common/tj.html"-->
    <!--#include file="./common/statistics.html"-->
</body>

</html>
