@charset "UTF-8";
@import "../../common/config/level-2";
@import "../../common/common";
@import "../../module/mod-hot";
@import "../../module/mod-empty";
@import "../../common/pager/pager";
.inline-block{
    display:inline-block;
}
@mixin ver-align($height) {
    height: $height;
    line-height: $height;
}

@mixin text-overf {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

body {
    background: #eef3f7;
}

.mod-subject {
    width: $width;
    margin: 40px auto;
    .mod-sub-left {
        width: 840px;
        .mod-nav {
            padding: 20px 25px 30px;
            background: #fff;
            .common-nav {
                color: #4c677b;
                font-size: 16px;
                border-bottom: 1px dashed #dadfe3;
                padding-top: 10px;
                .nav-area {
                    margin-left: 100px;
                }
                a {
                    color: inherit;
                    font-size: inherit;
                    line-height: 1;
                    padding: 5px 10px;
                    margin-right: 10px;
                    border-radius: 3px;
                    margin-bottom: 10px;
                    @extend .inline-block;
                }
                .active {
                    background: #ea3e48;
                    color: #fff;
                }
            }
            .nav-classify {
                font-size: inherit;
                color: #999;
                position: absolute;
            }
        }
        .mod-sub-detail {
            background: #fff;
            margin-top: 20px;
            padding: 0 30px;
            min-height: 300px;
            .sub-detail {
                li {
                    padding: 30px 0;
                    border-top: 1px solid #eee;
                    &:first-child {
                        border-top: none;
                    }
                }
            }
            .sub-img {
                display: block;
                width: 260px;
                height: 140px;
                line-height: 140px;
                border: 1px solid #ccc;
                overflow: hidden;
                text-align: center;
                img {
                    vertical-align: middle;
                    height: 140px;
                }
            }
            .sub-info {
                width: 500px;
                a{
                    @extend .inline-block;
                }
                h1 {
                    font-size: 20px;
                    line-height: 28px;
                    height: 55px;
                    overflow: hidden;
                    margin: -3px 0 5px;
                    &:hover {
                        color: #ea3e48;
                    }
                }
                p {
                    color: #4c677b;
                    font-size: 16px;
                    line-height: 1;
                    margin-top: 17px;
                    i {
                        font-size: inherit;
                        padding-right: 10px;
                    }
                }
            }
        }
    }
    .ui-pager {
        margin-top: 20px;
    }
}

.ui-empty-list {
    padding: 100px;
    .txt {
        font-size: 22px;
    }
}