@charset "UTF-8";

/*左侧菜单*/

.ifm-left-menu {
    float: left;
    width: 304px;
    background-color: #fff;
    .header {
        display: block;
        margin: 45px auto 15px auto;
        width: 170px;
        height: 170px;
        line-height: 170px;
        text-align: center;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 3px 3px 8px #ddd;
        img {
            max-width: 170px;
            max-height: 170px;
            vertical-align: middle;
        }
    }
    .nick {
        padding: 0 30px 30px;
        height: 30px;
        line-height: 30px;
        font-size: 24px;
        color: #1f2c35;
        text-align: center;
    }
    .menu-txt {
        @extend .txt-overflow;
        display: block;
        padding: 0 30px;
        text-align: center;
        font-size: 20px;
        border-top: 1px solid #e4ebf0;
        &.active,
        &:hover {
            color: #fff;
            background-color: $BgHoverColor;
        }
    }
    .menu-level-1 {
        .item-level-1 {
            .txt-level-1 {
                height: 80px;
                line-height: 80px;
                color: $grayColor;
                background-color: #fff;
                @extend .menu-txt;
            }
            &.active{
                .menu-level-2 {
                    display: block;
                }
                .txt-level-1 {
                    color: #fff;
                    background-color: $BgHoverColor;
                    &.active,
                    &:hover {
                        color: #fff;
                        background-color: $BgHoverColor;
                    }
                }
                &.has-child {
                    .txt-level-1 {
                        color: #fff;
                        background-color: #b9c9d4;
                        &.active,
                        &:hover {
                            color: #fff;
                            background-color: #b9c9d4;
                        }
                    }
                }
            }
        }
    }
    .menu-level-2 {
        display: none;
        .item-level-2 {
            &.active {
                .txt-level-2 {
                    color: #fff;
                    background-color: $BgHoverColor;
                }
            }
            .txt-level-2 {
                height: 60px;
                line-height: 60px;
                color: #fff;
                background-color: #95aab8;
                @extend .menu-txt;
            }
        }
    }
}
