@charset "UTF-8";
@import "../../common/config/level-2";
@import "../../common/common";
@import "../../module/mod-empty";
@import "../../common/pager/pager";
a {
    text-decoration: none;
}

.mod-container {
    margin: 0 auto;
    width: $width;
}

.ui-hid {
    display: none;
}

.mod-detail {
    background-color: #eef3f7;
    position: relative;
    .mod-container {
        padding: 40px 0;
    }
    .mod-path {
        padding-bottom: 20px;
        font-size: 14px;
        color: #666;
    }
    .mod-content {
        background-color: #fff;
        padding: 40px 40px 30px;
        .img {
            width: 512px;
            height: 278px;
            img {
                width: 512px;
                height: 278px;
            }
        }
        .content {
            width: 560px;
            h1 {
                margin:0;
                font-size: 32px;
                color: #333;
                font-weight: bold;
                line-height: 40px;
            }
            .mod-label {
                padding: 15px 0 20px;
                font-size: 14px;
                color: #5e5e5e;
                .time {
                    padding-left: 8px;
                }
                .num {
                    padding-left: 8px;
                }
            }
            .line {
                padding:0 12px;
            }
            p {
                height: 100px;
                font-size: 14px;
                color: #999;
                line-height: 20px;
                overflow: hidden;
            }
            .study {
                display: inline-block;
                width: 130px;
                height: 40px;
                margin: 20px 0;
                line-height: 40px;
                text-align: center;
                background-color: #ea3e48;
                border-radius: 5px;
                font-size: 16px;
                color: #fff;
            }
            .mod-share {
                font-size: 14px;
                color: #5e5e5e;
                position: relative;
                a {
                    display: inline-block;
                }
                .icon{
                    position: relative;
                    top: -10px;
                    margin-right: 5px;
                }
                .collect{
                    span{
                        margin-left: -15px;
                    }
                    &:hover {
                        color: $BgNormalColor;
                        i{
                            color: $BgNormalColor;
                        }
                    }
                }
                .collected{
                    color: $BgNormalColor;
                    i{
                        color: $BgNormalColor;
                    }
                }
                .iyoyo-heart {
                    position: relative;
                    top:-23px;
                    left: -10px;
                    font-size: 36px;
                    color: #999;
                }
                .iyoyo-weixin {
                    margin-left: 10px;
                    font-size: 22px;
                    color: #999;
                    &:hover {
                        color: #5ecb7f;
                    }
                }
                .iyoyo-qzone {
                    font-size: 22px;
                    color: #999;
                    &:hover {
                        color: #f6c743;
                    }
                }
                .iyoyo-weibo {
                    top: -5px;
                    font-size: 19px;
                    color: #999;
                    &:hover {
                        color: #ec5c51;
                    }
                }
            }
        }
    }
    .mod-wrap {
        margin-top: 20px;
        .mod-left {
            width: 840px;
        }
        .mod-sub-nav {
            a {
                padding: 15px 60px;
                background-color: #fff;
                font-size: 18px;
                color: #4b677b;
                border-right: 1px solid #eef3f7;
                border-bottom: 1px solid #eef3f7;
            }
            .current {
                color: #ea3e48;
                border-bottom: 1px solid #fff;
            }
        }
        .mod-sub-wrap {
            display: none;
            position: relative;
            min-height: 800px;
            padding: 30px 20px 0 40px;
            background-color: #fff;
            .top-bar {
                padding-bottom: 10px;
                border-bottom: 1px solid #eef3f7;
            }
            .bar-left {
                padding: 5px 10px;
                font-size: 16px;
                color: #333;
                margin-right: 20px;
                border-radius: 3px;
            }
            .bar-right {
                padding: 5px 10px;
                font-size: 16px;
                color: #4b677b;
                border: 1px solid #4b677b;
                border-radius: 3px;
            }
            .wrap2-bar-right{
                position: relative;
                padding: 5px 10px 5px 32px;
                font-size: 16px;
                color: #fff;
                background: $BgNormalColor;
                border-radius: 4px;
            }
            .iyoyo-question-1{
                position: absolute;
                top:0;
                left: 8px;
                font-size: 20px;
                color:#fff;
                line-height: 34px;
            }
            .active {
                background-color: #ec3e48;
                color: #fff;
            }
            .mod-dirs {
                .dir {
                    position: relative;
                    padding-bottom: 30px;
                    &:before{
                        position: absolute;
                        top:11px;
                        content: '';
                        display: inline-block;
                        width: 100%;
                        height: 1px;
                        background: #eee;
                        z-index: 0;
                    }
                    &:first-child{
                        .ui-line{
                            width: 0
                        }
                    }
                }
                .course-name {
                    position: relative;
                    background: #fff;
                    font-size: 14px;
                    color: #999;
                }
                .h3 {
                    position: relative;
                    background: #fff;
                    padding:0 20px;
                    font-size: 14px;
                    color: #1f2c35;
                    &:hover{
                        color: $BgNormalColor;
                    }
                }
                .label{
                    position: relative;
                    background: #fff;
                    padding-left: 40px;
                }
                .iyoyo-play{
                    position: absolute;
                    top:-3px;
                    right: 30px;
                    padding-right: 10px;
                    font-size: 18px;
                    color: #1f2c35;
                }
                .time {
                    font-size: 14px;
                    color: #4b677b;
                }
                .icon{
                    position: absolute;
                    left: -26px;
                    top: -3px;
                    font-size: 18px;
                    color: #44687d;
                }
                .icon-default{
                    position: absolute;
                    left: -27px;
                    top: 0;
                    width: 15px;
                    height: 15px;
                    color: #fff;
                    border: 2px solid #9ba8b2;
                    border-radius: 100%;
                }
                .iyoyo-pause{
                    left: -28px;
                    font-size: 20px;
                }
                .ui-line{
                    position: absolute;
                    width: 1px;
                    top: -32px;
                    bottom: 50px;
                    left: -18px;
                    background: #bcc7d3;
                }
            }
        }
        .current{
            display: block;
        }
        .head-img {
            position: relative;
            width: 84px;
            height: 84px;
            img {
                width: 84px;
                height: 84px;
                margin-bottom: 5px;
                border-radius: 100%;
            }
            font-size: 14px;
            color: #4c677b;
            text-align: center;
            .iyoyo-question-2{
                position: absolute;
                bottom:-11px;
                left: 50%;
                margin-left: -11px;
                font-size: 22px;
                color: #999;
            }
            .iyoyo-ok{
                position: absolute;
                bottom:-11px;
                left: 50%;
                margin-left: -11px;
                font-size: 22px;
                color: #67d174;
            }
        }
        .comment {
            position: relative;
            margin-bottom: 30px;
            .input {
                position: relative;
                .input-login {
                    position: absolute;
                    top: 40px;
                    left: 200px;
                    font-size: 14px;
                    color: #666;
                    a {
                        margin: 0 5px;
                        font-size: 14px;
                        color: #fff;
                        padding: 5px 10px;
                        background: #ec3e48;
                        border-radius: 3px;
                    }
                }
                .arrow {
                    position: absolute;
                    top: 40px;
                    left: -19px;
                    display: inline-block;
                    font-size: 28px;
                    color: #ccc;
                    line-height: 24px;
                    background-color: #fff;
                }
                .arrow-disabled {
                    color: #eef3f7;
                    background:none;
                }
                .arrow-focus {
                    color: #aaa;
                }
                .arrow-error {
                    color: #ec3e48;
                }
                margin-left: 30px;
                textarea {
                    width: 540px;
                    height: 60px;
                    margin-top: 10px;
                    outline: none;
                    resize: none;
                    font-size: 14px;
                }
                .text-disabled {
                    border: 1px solid #eef3f7;
                    background: #eef3f7;
                }
                .text-focus {
                    border: 1px solid #aaa;
                }
                .text-error {
                    border: 1px solid #ec3e48;
                }
                .limit {
                    position: absolute;
                    left: 0;
                    bottom: -17px;
                    font-size: 12px;
                    color: #666;
                    i{
                        font-style:normal;
                    }
                }
            }
            .publish {
                margin: 10px 0 0 10px;
                padding: 20px 20px;
                background-color: #ec3e48;
                border-radius: 5px;
                span {
                    display:inline-block;
                    width: 28px;
                    font-size: 14px;
                    color: #fff;
                }
            }
            .publish-error {
                cursor: default;
                background-color: #ddd;
            }
        }
        .talk {
            border-top: 1px solid #eef3f7;
        }
        .mod-item {
            padding: 30px 0;
            .sub-content {
                position: relative;
                width: 662px;
                margin-left: 14px;
                .view-all {
                    font-size: 14px;
                    color: #4e687c;
                    &:hover {
                        text-decoration: underline;
                    }
                    .view-down {
                        position: relative;
                        top: 2px;
                        left: -5px;
                        display: inline-block;
                        width: 15px;
                        height: 16px;
                    }
                    .view-up {
                        position: relative;
                        top: 2px;
                        left: -5px;
                        display: inline-block;
                        width: 15px;
                        height: 16px;
                    }
                }
            }
            .note {
                padding-bottom: 30px;
                border-bottom: 1px solid #eef3f7;
            }
            h2 {
                font-size: 14px;
                color: #4c677b;
                font-weight: normal;
            }
            p {
                margin: 10px 0;
                font-size: 16px;
                color: #333;
                line-height: 24px;
                word-break: break-all;
                overflow: hidden;
            }
            .note p {
                //overflow: hidden;
                //text-overflow: ellipsis;
                //display: -webkit-box;
                //-webkit-line-clamp: 3;
                //-webkit-box-orient: vertical;
            }
            .question p{
                width: 100%;
                margin-top: 0;
                font-size: 16px;
                color: #666;
            }
            .question .ok{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
            .question .look{
                margin-left: 16px;
            }
            .question .status{
                padding-right: 10px;
                a{
                    color: #4e687c;
                    padding: 0 5px;
                }
            }
            .question .status-ok{
                color: $BgNormalColor;
            }
            .question .h3{
                width: 100%;
                padding: 10px 0 0;
                font-size: 16px;
                font-weight: bold;
                color: #333;
                &:hover{
                    color: $BgNormalColor;
                }
            }
            .question .mod-sub-label{
                color: #999;
            }
            .mod-sub-label {
                font-size: 14px;
                color: #666;
                .father {
                    margin-left: 40px;
                }
                .pick {
                    position: relative;
                    margin-right: 35px;
                    font-size: 14px;
                    color: #333;
                    i{
                        font-style:normal;
                    }
                    span {
                        margin-left: 10px;
                    }
                }
                .picked {
                    color: #ec3e48;
                }
                .like {
                    padding-right: 30px;
                    color: #666;
                    position: relative;
                    i {
                        position: absolute;
                        top:-3px;
                        left: -22px;
                        font-size: 16px;
                        margin-right: 8px;

                    }
                    &:hover {
                        color: #ea3e48;
                    }
                }
                .activeLike {
                    color: #ea3e48;
                }
            }
        }
        .mod-page{
            padding-top: 22px;
        }
        .mod-right {
            width: 320px;
            .mod-slider {
                margin-bottom: 20px;
                padding: 20px;
                background-color: #fff;
                h2 {
                    padding-bottom: 20px;
                    font-size: 20px;
                    color: #1f2c35;
                    border-bottom: 1px solid #eef3f7;
                    margin:0;
                }
                .txt {
                    padding-top: 20px;
                    font-size: 14px;
                    color: #666;
                    line-height: 20px;
                }
                .items{
                    padding-top:20px;
                }
                .item {
                    position: relative;
                    display:inline-block;
                    padding: 0;
                    img {
                        width: 110px;
                        height: 58px;
                    }
                    .info {
                        margin-left: 10px;
                    }
                    h3 {
                        padding-top: 5px;
                        font-size: 18px;
                        color: #1f2c35;
                        font-weight: normal;
                        margin:0;
                    }
                    span {
                        position: absolute;
                        bottom: 6px;
                        font-size: 14px;
                        color: #999;
                        height: 20px;
                        overflow: hidden;
                    }
                }
            }
        }
    }
    .ui-hide{
        display: none;
    }
}
