<div class="mod-hot f-r">
    <h2 class="hot-title">热门资讯</h2>
    <ul id="jHotNews" class="mod-hot-list">

    </ul>
</div>
<script id="hot" type="text/html">
    {{each list as value i}}
    <li class="clearfix">
        {{if i < 3}}
        <a href="javascript:;" title=""><span class="hot-rank top-three">{{i+1}}</span>{{value.activeTitle}}</a>
        {{/if}}
        {{if i>=3}}
        <a href="javascript:;" title=""><span class="hot-rank">{{i+1}}</span>{{value.activeTitle}}</a>
        {{/if}}
    </li>
    {{/each}}
</script>