<div class="mod-hot f-r">
    <h2 class="hot-title">热门资讯</h2>
    <ul id="jHotNews" class="mod-hot-list">
        <li class="clearfix">
            <a href="javascript:;" title=""><span class="hot-rank top-three">1</span>支付宝拿下成田机场</a>
        </li>
        <li class="clearfix">
            <a href="javascript:;" title=""><span class="hot-rank top-three">2</span>双十一不需要运费</a>
        </li>
        <li class="clearfix">
            <a href="javascript:;" title=""><span class="hot-rank top-three">3</span>京东明年部署无人机</a>
        </li>
        <li class="clearfix">
            <a href="javascript:;" title=""><span class="hot-rank">4</span>支付宝拿下成田机场</a>
        </li>
        <li class="clearfix">
            <a href="javascript:;" title=""><span class="hot-rank">5</span>支付宝拿下成田机场</a>
        </li>
        <li class="clearfix">
            <a href="javascript:;" title=""><span class="hot-rank">6</span>支付宝拿下成田机场</a>
        </li>
        <li class="clearfix">
            <a href="javascript:;" title=""><span class="hot-rank">7</span>支付宝拿下成田机场</a>
        </li>
        <li class="clearfix">
            <a href="javascript:;" title=""><span class="hot-rank">8</span>支付宝拿下成田机场</a>
        </li>
    </ul>
</div>
<script id="hot" type="text/html">
    {{each list as value i}}
    <li class="clearfix">
        {{if i < 3}}
        <a href="javascript:;" title=""><span class="hot-rank top-three">{{i+1}}</span>{{value.activeTitle}}</a>
        {{/if}}
        {{if i>=3}}
        <a href="javascript:;" title=""><span class="hot-rank">{{i+1}}</span>{{value.activeTitle}}</a>
        {{/if}}
    </li>
    {{/each}}
</script>